<main class="main-contentt">
  <div class="inner-sec">
    <app-bread-crumb></app-bread-crumb>
    <div class="content mt-5">
      <app-main-header></app-main-header>
      <!-- <div class="row justify-content-center pt-4">
        <u><b></b></u>
      </div> -->

      <div class="row pt-3">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
          <div class="card  border-top-left-radius border-top-right-radius">
            <div class="login-header  border-top-left-radius border-top-right-radius ">
              <h2 class="text-center uppercase ft-weight-bold  position-relative">Upload Image
              </h2>
            </div>
            <div class="card-body">
              <zxing-scanner (scanSuccess)="onCodeResult($event)" *ngIf="enableScanner"></zxing-scanner>


              <div class="row">
                <div class="col-md-12 text-center">
                  <button class="bg-blue btn btn-secondary uppercase ml-2 w-20 ft-weight-bold" (click)="scanQr()">Scan
                    Admin Card</button>
                </div>

                <div class="col-md-12 text-center pt-3 pb-3">
                  <h2>OR</h2>
                </div>
                <div class="col-md-2">
                </div>

                <div class="col-md-4">
                  <form [formGroup]='searchForm'>
                    <div class="form-group">
                      <!-- <label></label> -->
                      <input name="applicationNumber" type="text" class="form-control"
                        formControlName="applicationNumber" placeholder="Application Id">
                    </div>
                  </form>
                </div>

                <div class="col-md-4">
                  <button class="bg-blue btn btn-secondary uppercase ml-2 w-20 ft-weight-bold"
                    (click)="getApplicationDetails()">Verify</button>
                </div>
              </div>

              <!-- <div class="row pt-2">
                  <div class="col-md-12">
                    <label class="header-font">Total Candidates</label>
                    <hr>
                  </div>
                </div> -->
              <form [formGroup]='manageAdmitCardsForm' *ngIf="enableForm">
                <div class="row pt-4">
                  <div class="col-md-12">
                    <label class="header-font">Candidate Details</label>
                    <hr>
                  </div>
                </div>
                <div class="row pt-4">
                  <div class="col-md-6">
                    <label>Photo</label><br>
                    <div class="photo-sig">

                      <img class="photo-sig-img" [src]='photo' alt="logo">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label>Signature</label><br>
                    <div class="photo-sig">
                      <img class="photo-sig-img" [src]='signature' alt="logo">
                    </div>
                  </div>
                </div>
                <div class="row pt-2" *ngIf="enableUPload">
                  <div class="col-md-12">
                    <label class="header-font">Photo/Signature</label>
                    <hr>
                  </div>
                </div>
                <div class="row" *ngIf="enableUPload == 'P'">
                  <div class="col-md-5 form-group ls-m3 rs-m3">
                    <label>Upload your latest passport size photo
                      <span class="text-danger ft-weight-semi">(.JPEG/.JPG/.PNG, max size 10kb to 200kb)<span
                          class="text-danger ft-weight-semi">*</span></span>
                    </label>
                    <div class="input-group">
                      <div class="custom-file mr-2">
                        <input type="file" class="custom-file-input" formControlName="photo"
                          (change)="onFileChangePhoto($event)" id="avatar">
                        <label class="custom-file-label" for="avatar">Choose photo</label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 form-group ls-m3 rs-m3" *ngIf="fileObjPhoto">
                    <img height="100" width="115" [src]="fileObjPhoto"
                      onerror="if (this.src != 'error.jpg') this.src = 'assets/images/default.png';">
                  </div>
                </div>

                <div class="row" *ngIf="enableUPload == 'S'">
                  <div class="col-md-5 form-group ls-m3 rs-m3">
                    <label>Upload your signature <span class="text-danger ft-weight-semi">(.JPEG/.JPG/.PNG, max size
                        4kb to 30kb)<span class="text-danger ft-weight-semi">*</span></span>
                    </label>
                    <div class="input-group">
                      <div class="custom-file mr-2">
                        <input type="file" class="custom-file-input" formControlName="signature"
                          (change)="onFileChangeSignature($event)" id="avatar">
                        <label class="custom-file-label" for="avatar">Choose signature</label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 form-group ls-m3 rs-m3" *ngIf="fileObjSignature">
                    <img height="100" width="115" [src]="fileObjSignature"
                      onerror="if (this.src != 'error.jpg') this.src = 'assets/images/default.png';">
                  </div>

                </div>



              </form>
              <!-- <div class="row"> -->
              <div class="field-sec text-center" *ngIf="enableForm">
                <button class="bg-blue btn btn-secondary uppercase ml-2 w-20 ft-weight-bold" (click)="uploadImage('P')"
                  *ngIf="!enableUPload">Upload Photo</button>
                <button class="bg-blue btn btn-secondary uppercase ml-2 w-20 ft-weight-bold" (click)="uploadImage('S')"
                  *ngIf="!enableUPload">Upload Signature</button>
                <button class="bg-blue btn btn-secondary uppercase ml-2 w-20 ft-weight-bold" *ngIf="enableUPload"
                  (click)='cancelUpload()'>Cancel</button>
              </div>
              <!-- </div> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-template #consentPopUp let-modal data-keyboard="false" data-backdrop="static">
  <div class=" login-header  border-top-left-radius border-top-right-radius">
    <h2 class="text-center uppercase ft-weight-bold  position-relative">Confirm !!
    </h2>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <strong>Race of Candidate</strong>
      </div>
      <!-- <div class="col-md-6 pt-2">
        <div class="form-group">
          <label>Inches A</label> : {{inchesA}}
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Inches B</label>: {{inchesB}}
        </div>
      </div> -->
    </div>

    <div class="row">
      <div class="col-md-12 pt-2">
        <div class="form-group">
          <label>Status</label> : {{status == 'P' ? 'Qualified' : 'Not Qualified'}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer jultify-right">
    <button class="btn btn-secondary uppercase mr-1" data-dismiss="modal"
      (click)="modal.close('Close click')">Cancel</button>
    <button class="bg-blue btn btn-primary uppercase ml-2 w-20 ft-weight-bold" data-dismiss="modal"
      (click)="modal.close('first consent')">Submit</button>
  </div>
</ng-template>

<ng-template #secondConsentPopUp let-modal data-keyboard="false" data-backdrop="static">
  <div class=" login-header  border-top-left-radius border-top-right-radius">
    <h2 class="text-center uppercase ft-weight-bold  position-relative">Confirm !!
    </h2>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      Do you really want to submit the form? Information once submitted cannot be changed.
    </div>
  </div>
  <div class="modal-footer jultify-right">
    <button class="btn btn-secondary uppercase mr-1" data-dismiss="modal"
      (click)="modal.close('Close click')">Cancel</button>
    <button class="bg-blue btn btn-primary uppercase ml-2 w-20 ft-weight-bold" data-dismiss="modal"
      (click)="modal.close('second consent')">Submit</button>
  </div>
</ng-template>