.header-font {
    font-size: 17px;
    font-weight: 600;
}

.header-font {
    font-size: 17px;
    font-weight: 600;
}

.logo {
    max-width: 111px;
    padding: 5px 20px;
    margin-right: 20px;
}

/* h2 {
    font-size: 22px !important;
} */

.ft-weight-semi {
    font-size: 10px;
}