<main class="main-contentt">
  <div class="inner-sec">
    <app-bread-crumb></app-bread-crumb>
    <div class="content mt-5">
      <app-main-header></app-main-header>
      <!-- <div class="row justify-content-center pt-4">
        <u><b></b></u>
      </div> -->

      <div class="row pt-3">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
          <div class="card  border-top-left-radius border-top-right-radius">
            <div class="other-header border-top-left-radius border-top-right-radius ">
              <h2 class="text-center uppercase ft-weight-bold  position-relative">Educational qualification
              </h2>
            </div>
            <div class="card-body">
              <zxing-scanner (scanSuccess)="onCodeResult($event)" *ngIf="enableScanner"></zxing-scanner>
              <div class="row">
                <div class="col-md-12 text-center">
                  <button class="bg-blue btn btn-secondary uppercase ml-2 w-20 ft-weight-bold" (click)="scanQr()">Scan
                    Admit Card</button>
                </div>

                <div class="col-md-12 text-center pt-3 pb-3">
                  <h2>OR</h2>
                </div>
                <div class="col-md-2">
                </div>

                <div class="col-md-4">
                  <form [formGroup]='searchForm'>
                    <div class="form-group">
                      <!-- <label></label> -->
                      <input name="applicationNumber" type="text" class="form-control"
                        formControlName="applicationNumber" placeholder="Roll No.">
                    </div>
                  </form>
                </div>

                <div class="col-md-4">
                  <button class="bg-blue btn btn-secondary uppercase ml-2 w-20 ft-weight-bold"
                    (click)="getApplicationDetails()">Verify</button>
                </div>
              </div>
              <form [formGroup]='manageAdmitCardsForm' *ngIf="enableForm">
                <!-- <div class="row pt-2">
                  <div class="col-md-12">
                    <label class="header-font">Total Candidates</label>
                    <hr>
                  </div>
                </div> -->

                <div class="row pt-4">
                  <div class="col-md-12">
                    <label class="header-font">Candidate Details</label>
                    <hr>
                  </div>
                </div>
                <div class="row pt-4">
                  <div class="col-md-6">
                    <label>Photo</label><br>
                    <div class="photo-sig">

                      <img class="photo-sig-img" [src]='photo' alt="logo">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label>Signature</label><br>
                    <div class="photo-sig">
                      <img class="photo-sig-img" [src]='signature' alt="logo">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label>Application ID</label>
                      <input name="applicationNo" type="text" class="form-control" formControlName="applicationNo"
                        readonly>
                    </div>
                  </div>

                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label>Bonafide District</label>
                      <input name="district" type="text" class="form-control" formControlName="district" readonly>
                    </div>
                  </div>

                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label>Full name</label>
                      <input name="name" type="text" class="form-control" formControlName="name" readonly>
                    </div>
                  </div>

                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label>Gorkha</label>
                      <input name="fatherName" type="text" class="form-control" formControlName="isGorkha" readonly>
                    </div>
                  </div>

                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label>Father's Name</label>
                      <input name="fatherName" type="text" class="form-control" formControlName="fatherName" readonly>
                    </div>
                  </div>

                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label>Date of Birth</label>
                      <input name="dob" type="text" class="form-control" formControlName="dob" readonly>
                    </div>
                  </div>

                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label>Gender</label>
                      <input name="gender" type="text" class="form-control" formControlName="gender" readonly>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Category</label>
                      <input name="category" type="text" class="form-control" formControlName="category" readonly>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Sub Category</label>
                      <input name="subCategory" type="text" class="form-control" formControlName="subCategory" readonly>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Post Applied For</label>
                      <input name="postAppliedFor" type="text" class="form-control" formControlName="postAppliedFor"
                        readonly>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Height Marks</label>
                      <input name="heightMarks" type="text" class="form-control" formControlName="heightMarks"
                        readonly>
                    </div>
                  </div> 

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Exam Marks</label>
                      <input name="examMarks" type="text" class="form-control" formControlName="examMarks"
                        readonly>
                    </div>
                  </div> 

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Scrutiny Venue</label>
                      <input name="scrutinyVenue" type="text" class="form-control" formControlName="scrutinyVenue"
                        readonly>
                    </div>
                  </div> 

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Scrutiny Date</label>
                      <input name="scrutinyDate" type="text" class="form-control" formControlName="scrutinyDate"
                        readonly>
                    </div>
                  </div> 
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label>Registered Mobile No.</label>
                      <input name="mobileNo" type="text" class="form-control" formControlName="mobileNo" readonly>
                    </div>
                  </div> -->
                </div>
              </form>
              
              <div *ngIf="enableForm">
                <div class="row pt-4">
                  <div class="col-md-12">
                    <label class="header-font">Educational Qualification</label>
                    <hr>
                  </div>
                </div>
                <form [formGroup]="generateAdmitCardForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Maximum marks</label>
                        <input name="gender" type="number" class="form-control" formControlName="maximumMarks">
                        <div *ngIf="generateAdmitCardForm.controls.maximumMarks.errors &&
                          submitApplicationForm==true">
                          <span *ngIf="generateAdmitCardForm.controls.maximumMarks.errors.required" class="error">
                            Please enter no. maximum marks</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Marks Scored</label>
                        <input name="gender" type="number" class="form-control" formControlName="marksScored" (keyup)='marksScored($event)'>
                        <div *ngIf="generateAdmitCardForm.controls.marksScored.errors &&
                          submitApplicationForm==true">
                          <span *ngIf="generateAdmitCardForm.controls.marksScored.errors.required" class="error">
                            Please enter marks scored</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Percentage</label>
                        <input name="gender" type="text" class="form-control" formControlName="eduMarksInPercentage" readonly>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Calculated Marks</label>
                        <input name="gender" type="text" class="form-control" formControlName="eduEvaluationMarks" readonly>
                      </div>
                    </div>
                  </div>
                  
                </form>
                

                <div class="col-md-12 text-center"> 
                    <button class="bg-blue btn btn-secondary uppercase ml-2 w-20 ft-weight-bold" (click)="submit()">
                      Submit</button>
                </div> 
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>


<ng-template #consentPopUp let-modal data-keyboard="false" data-backdrop="static">
  <div class=" login-header  border-top-left-radius border-top-right-radius">
    <h2 class="text-center uppercase ft-weight-bold  position-relative">Confirm !!
    </h2>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <span class="text-danger ft-weight-semi">Note</span>:Do you really want to submit the form? Information once submitted cannot be changed.
    </div>
  </div>
  <div class="modal-footer jultify-right">
    <button class="btn btn-secondary uppercase mr-1" data-dismiss="modal"
      (click)="modal.close('Close click')">Cancel</button>
    <button class="bg-blue btn btn-primary uppercase ml-2 w-20 ft-weight-bold" data-dismiss="modal"
      (click)="modal.close('first consent')">Submit</button>
  </div>
</ng-template>


<ng-template #confFormPopUP let-modal data-keyboard="false" data-backdrop="static">
  <div class=" login-header  border-top-left-radius border-top-right-radius">
    <h2 class="text-center uppercase ft-weight-bold  position-relative">Confirm !!
    </h2>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      Do you really want to submit the form? Information once submitted cannot be changed.
    </div>
  </div>
  <div class="modal-footer jultify-right">
    <button class="btn btn-secondary uppercase mr-1" data-dismiss="modal"
      (click)="modal.close('Close click')">Cancel</button>
    <button class="bg-blue btn btn-primary uppercase ml-2 w-20 ft-weight-bold" data-dismiss="modal"
      (click)="modal.close('second consent')">Submit</button>
  </div>
</ng-template>
