h1 {
    font-family: Bookman,
        URW Bookman L,
        serif;
    font-size: 34;
    letter-spacing: 3px;
    color: green;
    margin: 0;
    margin-bottom: 20px;
}

.subHeading {
    text-align: justify;
}