<ng-template #failPopUp let-modal data-keyboard="false" data-backdrop="static">
  <div class="modal-header login-header  border-top-left-radius border-top-right-radius">
    <h2 class="text-center uppercase ft-weight-bold  position-relative">Payment Status !!
    </h2>
  </div>
  <div class="modal-body">
    <!-- <div class="row">
      <div class="col-md-12">
        Payment fail/pending !!
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Payment fail/pending !!</h1>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-right">
    <button class="bg-blue btn btn-primary uppercase ml-2 w-20 ft-weight-bold" data-dismiss="modal"
      (click)="modal.close('Go To Home')">Try Again !!</button>
  </div>
</ng-template>